<h1>Listing nzbs</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nzbs.each do |nzb| %>
      <tr>
        <td><%= nzb.id %></td>
        <td><%= nzb.data %></td>
        <td><%= link_to 'Show', nzb %></td>
        <td><%= link_to 'Edit', edit_nzb_path(nzb) %></td>
        <td><%= link_to 'Destroy', nzb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nzb', new_nzb_path %>
