<%= form_for(@release) do |f| %>
  <% if @release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@release.errors.count, "error") %> prohibited this release from being saved:</h2>

      <ul>
      <% @release.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :added %><br>
    <%= f.datetime_select :added %>
  </div>
  <div class="field">
    <%= f.label :posted %><br>
    <%= f.datetime_select :posted %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :search_name %><br>
    <%= f.text_field :search_name %>
  </div>
  <div class="field">
    <%= f.label :posted_by %><br>
    <%= f.text_field :posted_by %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :grabs %><br>
    <%= f.number_field :grabs %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.number_field :size %>
  </div>
  <div class="field">
    <%= f.label :passworded %><br>
    <%= f.text_field :passworded %>
  </div>
  <div class="field">
    <%= f.label :unwanted %><br>
    <%= f.check_box :unwanted %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br>
    <%= f.number_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :regex_id %><br>
    <%= f.number_field :regex_id %>
  </div>
  <div class="field">
    <%= f.label :tvshow_id %><br>
    <%= f.number_field :tvshow_id %>
  </div>
  <div class="field">
    <%= f.label :tvshow_metablack_id %><br>
    <%= f.number_field :tvshow_metablack_id %>
  </div>
  <div class="field">
    <%= f.label :movie_id %><br>
    <%= f.number_field :movie_id %>
  </div>
  <div class="field">
    <%= f.label :movie_metablack_id %><br>
    <%= f.number_field :movie_metablack_id %>
  </div>
  <div class="field">
    <%= f.label :nzb_id %><br>
    <%= f.number_field :nzb_id %>
  </div>
  <div class="field">
    <%= f.label :rar_metablack_id %><br>
    <%= f.number_field :rar_metablack_id %>
  </div>
  <div class="field">
    <%= f.label :nfo_id %><br>
    <%= f.number_field :nfo_id %>
  </div>
  <div class="field">
    <%= f.label :nfo_metablack_id %><br>
    <%= f.number_field :nfo_metablack_id %>
  </div>
  <div class="field">
    <%= f.label :sfv_id %><br>
    <%= f.number_field :sfv_id %>
  </div>
  <div class="field">
    <%= f.label :sfv_metablack_id %><br>
    <%= f.number_field :sfv_metablack_id %>
  </div>
  <div class="field">
    <%= f.label :episode_id %><br>
    <%= f.number_field :episode_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
