<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @release.id %>
</p>

<p>
  <strong>Added:</strong>
  <%= @release.added %>
</p>

<p>
  <strong>Posted:</strong>
  <%= @release.posted %>
</p>

<p>
  <strong>Name:</strong>
  <%= @release.name %>
</p>

<p>
  <strong>Search name:</strong>
  <%= @release.search_name %>
</p>

<p>
  <strong>Posted by:</strong>
  <%= @release.posted_by %>
</p>

<p>
  <strong>Status:</strong>
  <%= @release.status %>
</p>

<p>
  <strong>Grabs:</strong>
  <%= @release.grabs %>
</p>

<p>
  <strong>Size:</strong>
  <%= @release.size %>
</p>

<p>
  <strong>Passworded:</strong>
  <%= @release.passworded %>
</p>

<p>
  <strong>Unwanted:</strong>
  <%= @release.unwanted %>
</p>

<p>
  <strong>Group:</strong>
  <%= @release.group_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @release.category_id %>
</p>

<p>
  <strong>Regex:</strong>
  <%= @release.regex_id %>
</p>

<p>
  <strong>Tvshow:</strong>
  <%= @release.tvshow_id %>
</p>

<p>
  <strong>Tvshow metablack:</strong>
  <%= @release.tvshow_metablack_id %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @release.movie_id %>
</p>

<p>
  <strong>Movie metablack:</strong>
  <%= @release.movie_metablack_id %>
</p>

<p>
  <strong>Nzb:</strong>
  <%= @release.nzb_id %>
</p>

<p>
  <strong>Rar metablack:</strong>
  <%= @release.rar_metablack_id %>
</p>

<p>
  <strong>Nfo:</strong>
  <%= @release.nfo_id %>
</p>

<p>
  <strong>Nfo metablack:</strong>
  <%= @release.nfo_metablack_id %>
</p>

<p>
  <strong>Sfv:</strong>
  <%= @release.sfv_id %>
</p>

<p>
  <strong>Sfv metablack:</strong>
  <%= @release.sfv_metablack_id %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @release.episode_id %>
</p>

<%= link_to 'Edit', edit_release_path(@release) %> |
<%= link_to 'Back', releases_path %>
