<%= form_for(@regex) do |f| %>
    <% if @regex.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@regex.errors.count, "error") %> prohibited this regex from being saved:</h2>

          <ul>
            <% @regex.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="form-group">
      <%= f.label :group_name, "Group" %><br>
      <%= f.select :group_name, @groups.collect {|grp| [grp.name, grp.name]}, {include_blank: true}, {class: 'form-control'} %>
    </div>
    <div class="field form-group">
      <%= f.label :id %><br>
      <%= f.number_field :id, {class: 'form-control'} %>
    </div>
    <div class="field form-group">
      <%= f.label :ordinal %><br>
      <%= f.number_field :ordinal, {class: 'form-control'} %>
    </div>
    <div class="field form-group">
      <%= f.label :regex %><br>
      <%= f.text_area :regex, {class: 'form-control', 'data-ng-model' => 'record.regex'} %>
    </div>
    <div class="field form-group">
      <%= f.label :description %><br>
      <%= f.text_field :description, {class: 'form-control'} %>
    </div>
    <div class="field form-group">
      <%= f.label :status %><br>
      <%= f.check_box :status %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<div class="form-group">
  <div class="alert alert-success" role="alert" data-ng-show="alerts.success">
    <p>Found Matches:</p>
    <p data-ng-bind="matches[0]"></p>
  </div>
  <div class="alert alert-danger" role="alert" data-ng-show="alerts.failure">
    <p>Regex does not match!</p>
  </div>
  <label for="sample-header">Sample Header</label>
  <input data-ng-model="record.test" class="form-control" type="text" name="sample-header" id="sample-heaer" placeholder="Header to test regex against"/>
</div>

