<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @regex.id %>
</p>

<p>
  <strong>Regex:</strong>
  <%= @regex.regex %>
</p>

<p>
  <strong>Description:</strong>
  <%= @regex.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @regex.status %>
</p>

<p>
  <strong>Ordinal:</strong>
  <%= @regex.ordinal %>
</p>

<p>
  <strong>Group name:</strong>
  <%= @regex.group_name %>
</p>

<%= link_to 'Edit', edit_regex_path(@regex) %> |
<%= link_to 'Back', regexes_path %>
