<h1>Listing sfvs</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sfvs.each do |sfv| %>
      <tr>
        <td><%= sfv.id %></td>
        <td><%= sfv.data %></td>
        <td><%= link_to 'Show', sfv %></td>
        <td><%= link_to 'Edit', edit_sfv_path(sfv) %></td>
        <td><%= link_to 'Destroy', sfv, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sfv', new_sfv_path %>
