<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @sfv.id %>
</p>

<p>
  <strong>Data:</strong>
  <%= @sfv.data %>
</p>

<%= link_to 'Edit', edit_sfv_path(@sfv) %> |
<%= link_to 'Back', sfvs_path %>
